.laura {
	background-image: url();
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.images{
  	background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    height:auto; 
    width:auto; 
}
body {
	background-color: white;
	font-family: helvetica;
	font-style: oblique;
	margin-left: 15%;
	text-align: 
}
h1 {
	color: orange;

}